<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Te damos a conocer una selección de lujo de herramientas digitales que recogemos de todos los rincones de Internet, para que mejores tus experiencias en línea.</h2>
        <p class="lead">Agradecemos a <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo </a>por las bellas imágenes de este sitio web.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
