<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Servicios digitales: Diseño web, programación, técnica de mantenimiento de sistemas y más.</h2>
        <p class="lead">Gracias a <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo </a>por las bellas imágenes de este sitio web.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
